site_name: RaspAP Documentation
repo_url: https://github.com/RaspAP/raspap-webgui
repo_name: RaspAP/raspap-webgui
edit_uri: /RaspAP/raspap-docs/edit/master/docs
theme:
  name: material
  logo: images/favicon-32x32.png
  icon:
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/flame-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - header.autohide
    - navigation.instant
    - navigation.tracking
    - navigation.footer
    - content.action.edit
    - content.action.view
    - search.suggest
    - search.highlight
    - search.share
    - navigation.top
markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - footnotes
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.smartsymbols
  - pymdownx.keys
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
plugins:
  - search
  - social:
      cards_color:
        fill: "#2b8080"
        text: "#FFFFFF"
      cards_font: Roboto
  - git-revision-date-localized:
extra_css:
  - stylesheets/extra.css
extra:
  analytics:
    provider: google
    property: G-8JKSE6SEPQ
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/emoticon-happy-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/emoticon-sad-outline
          name: This page could be improved
          data: 0
          note: >-
            Thanks for your feedback! Help us improve this page by
            using our <a href="..." target="_blank" rel="noopener">feedback form</a>.
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/rasp_ap
    - icon: fontawesome/brands/github
      link: https://github.com/RaspAP/
    - icon: fontawesome/brands/reddit-alien
      link: https://reddit.com/r/RaspAP

copyright: Copyright &copy; 2013 - 2023 <a href="https://github.com/RaspAP">RaspAP</a>
