@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
.heart {
  color: #e91e63;
  animation: heart 1000ms infinite;
}
.check {
  color: #32cd32;
}

:octicons-heart-fill-24:{: .heart }
:octicons-check-circle-fill-24:{: .check }

:root > * {
  --md-primary-fg-color:        #2b8080;
  --md-primary-fg-color--light: #2b8080;
  --md-primary-fg-color--dark:  #90030C;
}
